body {
  /* Background pattern from toptal.com */
  background-image: url("../img/tlo.png");
  margin: 0 !important;
  padding: 0 !important;
}

#container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dbdbdb;
}

#rectangle {
  width: 1358px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #a3a3a3;
  border: 1px solid black;
}

#left_panel {
  width: 858px;
  float: left;
}
#right_panel {
  width: 500px;
  text-align: right;
  float: left;
}

#logo {
  margin-right: 20px;
  float: left;
}

.button {
  width: 160px;
  height: 40px;
  margin: 40px 20px;
  line-height: 40px;
  text-align: center;
  background-color: #6d839c;
  border: 2px solid black;
  border-radius: 10px;
  float: left;
}

.button:hover {
  background-color: #5c728b;
}

#user {
  float: right;
}

#side {
  float: left;
  width: 150px;
  background-color: #bfbfbf;
  min-height: 820px;
}

#main {
  float: left;
  width: 1250px;
  background-color: #dbdbdb;
  min-height: 820px;
}

.tile {
  text-align: center;
  width: 148px;
  height: 169px;
  background-color: #bfbfbf;
  border: 1px solid black;
  border-top: none;
}

.tile:hover {
  background-color: #aeaeae;
}

#workspace {
  margin: 20px;
  width: 1080px;
  min-height: 590px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f0f0;
  border: 5px solid black;
  border-radius: 10px;
}

#date_rectangle {
  width: 1080px;
  height: 65px;
  background-color: #c2c0c0;
  border-bottom: 5px solid black;
  border-radius: 10px;
}

.task {
  text-align: center;
  float: left;
  width: 150px;
  height: 90px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #c2c0c0;
  border: 5px solid black;
  border-radius: 10px;
}

#left {
  width: 130px;
  height: 65px;
  margin-right: 230px;
  background-color: #c2c0c0;
  border-radius: 10px;
  float: left;
}
#right {
  width: 130px;
  height: 65px;
  margin-left: 230px;
  background-color: #c2c0c0;
  border-radius: 10px;
  float: left;
}
.date {
  padding-top: 10px;
  text-align: center;
  width: 200px;
  height: 45px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #c2c0c0;
  border-radius: 10px;
  float: left;
}
a.tilelink {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 148px;
  height: 169px;
}
a#userlink {
  color: #000000;
  text-decoration: none;
}
a.buttonlink {
  color: #000000;
  text-decoration: none;
}
a.arrowlink {
  color: #000000;
  text-decoration: none;
}

#right_panel.search {
  float: right;
}

input[type="text"] {
  padding: 6px;
  margin-top: 40px;
  font-size: 17px;
  border: none;
}

button {
  float: right;
  padding: 6px 10px;
  margin-top: 40px;
  margin-right: 16px;
  background: #ccc;
  border: none;
  cursor: pointer;
  width: 40px;
}

button:hover {
  background: #ccc;
}
